ul.contact-list
  each contact in contacts
    li
      a(
        href=`/contacts/${contact.id}`,
        hx-get=`/contacts/${contact.id}`,
        hx-push-url='true',
        hx-target='#content'
      )= contact.name

div.actions
  a(
    href='/contacts/new',
    hx-get='/contacts/new',
    hx-push-url='true',
    hx-target='#content'
  ) New Contact
